<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header></app-header>

<div class = "container m-5">
  <app-body></app-body>
</div>


<app-footer></app-footer>


<!-- Aca ya estoy usando el header, y el body. ahora llamo al footer. 

Donde voy a usar este html-->
